:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-primary: #646cff;
  --color-success: #5a8049;
  --color-text: #ececf1;

  --color-bg: #343541;
  --color-bg-body: #242424;
  --color-bg-shade: #21232a;

  --spacing-md: 0.5rem;

  --border-radius: 4px;
  --box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  --response-after-height: 140px; /* is set dynamically in React component */

  color-scheme: light dark;
  color: var(--color-text);
  background-color: var(--color-bg-body);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  min-height: 100dvh; /* dynamic viewport height also for mobile  */
  max-width: 1280px;
  min-width: 320px;
  padding: 2rem;
  margin: 0 auto;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

pre {
  margin-top: unset;
  font-family: inherit;
  white-space: pre-wrap;
}

.response {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-gap: 1rem;
  width: 100%;
}

.response::after {
  content: '';
  height: var(--response-after-height); /* to allow scroll to bottom for response section */
}

.response__role {
  font-size: 0.8rem;
  padding: var(--spacing-md);
  background-color: var(--color-bg);
  border-radius: var(--border-radius);
}

.response__sticky {
  position: sticky;
  top: 10px;
}

.response__content-box {
  border-radius: var(--border-radius);
  background-color: var(--color-bg);
  max-width: 100%;
  overflow: hidden;
}

.response__text {
  padding: var(--spacing-md);
}

.response__meta-data {
  font-size: 0.8rem;
  padding: var(--spacing-md);
  background-color: var(--color-bg-shade);
}

.form {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
  position: fixed;
  left: 50%;
  bottom: 0;
  width: 100%;
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  padding: 1rem 2rem 2rem 2rem;
  transform: translateX(-50%);
  box-shadow: var(--box-shadow);
  background: var(--color-bg-body);
}

.form__textarea {
  flex: 1;
  font-family: inherit;
  color: var(----color-text);
  padding: var(--spacing-md);
  outline: none;
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  background-color: var(--color-bg);
  max-height: 200px;
  resize: none;
  overflow: auto;
}

.form__textarea:focus {
  border: 1px solid var(--color-primary);
}

.form__buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.button {
  font-family: inherit;
  color: inherit;
  width: 100%;
  padding: 0.5rem 1rem;
  outline: none;
  border: 1px solid #3e3f4b;
  border-radius: var(--border-radius);
  background-color: var(--color-bg);
  transition: border-color 0.3s;
  cursor: pointer;
}

.button:hover {
  border-color: var(--color-primary);
}

.button:focus {
  border: 1px solid var(--color-primary);
}

.button--abort {
  position: fixed;
  left: 50%;
  bottom: 0;
  height: 50px;
  width: 200px;
  border-radius: unset;
  transform: translate(-50%, 100%);
  transition: transform 0.3s;
  background-color: var(--color-bg-shade);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: var(--box-shadow);
}

.button--abort.active {
  transform: translate(-50%, 0);
}

.checkbox {
  flex-basis: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.checkbox__input {
  position: absolute;
  height: 1px;
  width: 1px;
  clip-path: path('M 0 0');
}

.checkbox__label {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.8rem;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  background-color: var(--color-bg);
  cursor: inherit;
}

.checkbox__label::before {
  content: '';
  height: 16px;
  width: 16px;
  border: 1px solid var(--color-text);
}

.checkbox__label::after {
  content: '';
  position: absolute;
  top: 13px;
  height: 4px;
  width: 10px;
  border-left: 2px solid;
  border-bottom: 2px solid;
  transform: rotate(-45deg);
  left: 11px;
}

.checkbox__input + .checkbox__label::after {
  opacity: 0;
  transition: opacity 0.3s;
}

.checkbox__input:checked + .checkbox__label::after {
  opacity: 1;
}

.checkbox__input:focus + .checkbox__label {
  border-color: var(--color-primary);
}

.code-highlight {
  padding: 3px 6px;
  background-color: var(--color-bg-shade);
}
