:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-text: #ececf1;
  --color-bg: #343541;
  --color-bg-shade: #1c1d23;

  --spacing-md: 0.5rem;
  --border-radius: 4px;

  color-scheme: light dark;
  color: var(--color-text);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.app {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

pre {
  margin-top: unset;
  font-family: inherit;
  white-space: pre-wrap;
}

.chat-form {
  display: flex;
  gap: 0.5rem;
  width: 100%;
}

.chat-form__input {
  flex: 1;
  font-family: inherit;
  color: var(----color-text);
  padding: var(--spacing-md);
  outline: none;
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  background-color: var(--color-bg);
}

.chat-form__input:focus {
  border: 1px solid #646cff;
}

.chat-form__buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.chat-form__button,
.chat-form__reset {
  font-family: inherit;
  color: inherit;
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid #3e3f4b;
  border-radius: var(--border-radius);
  background-color: var(--color-bg);
  transition: border-color 0.3s;
  cursor: pointer;
}

:is(.chat-form__button, .chat-form__reset):hover {
  border-color: #646cff;
}

:is(.chat-form__button, .chat-form__reset):focus,
:is(.chat-form__button, .chat-form__reset):focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.chat-form__reset {
  grid-area: reset;
}

.chat-response-list {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-gap: 1rem;
}

.chat-response-list__role {
  font-size: 0.8rem;
  padding: var(--spacing-md);
  background-color: var(--color-bg);
  border-radius: var(--border-radius);
}

.chat-response-list__content {
  border-radius: var(--border-radius);
  background-color: var(--color-bg);
}

.chat-response-list__response {
  padding: var(--spacing-md);
}

.meta-data {
  font-size: 0.8rem;
  padding: var(--spacing-md);
  background-color: var(--color-bg-shade);
}
